@import "../../../defaults";

.form-check {
    display: inline;
}

form {
    font-size: 12px;
}

.error {
    display: block;
}

.errors {
    background: $red;
    color: $white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.email {
    margin-top: -15px;
}