<form>
  <h2>Cadastre-se</h2>
  <div class="form-group row">
    <div class="form-group col-md-6">
      <input [(ngModel)]="userInfo.name.firstName" [ngModelOptions]="{standalone: true}" type="name" class="form-control" id="firstName" aria-describedby="firstName" placeholder="Nome">
    </div>
    <div class="form-group col-md-6">
      <input [(ngModel)]="userInfo.name.lastName" [ngModelOptions]="{standalone: true}" type="name" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Sobrenome">
    </div>
  </div>
  <div class="form-group email">
    <input [(ngModel)]="userInfo.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input [(ngModel)]="userInfo.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="password" placeholder="Senha">
  </div>
  <fieldset class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="personType" id="personType1" [checked]="!isLegalPerson()" (click)="changeRole()">
        Pessoa física
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="personType" id="personType2" [checked]="isLegalPerson()" (click)="changeRole()">
        Pessoa jurídica
      </label>
    </div>
  </fieldset>
  <div *ngIf="errors.length > 0" class="errors">
    <span class="error" *ngFor="let error of errors">{{ error }}</span>
  </div>
  <button (click)="signup()" type="submit" class="btn btn-primary">Cadastrar</button>
  <button (click)="resetForm()" class="btn btn-warning">Limpar</button>
</form>
