@import "../../defaults";

.container {
    width: 100%;
    min-height: 100vh;
    background: $body-grey;
} 


.card {
    background: $light-grey;
    color: $black;
    min-width: 400px;
}

.card-header {
    background: $medium-blue;
    color: $white;
}

.card-content {
    padding: 20px;
    padding-top: 0;
}

.subtitle {
    font-size: 12px;
}

a {
    color: $medium-blue;
    cursor: pointer;
}