<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">ADExtreme</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="this.authenticationService.isLoggedIn()">
        <a class="nav-link" href="/advertisements/new">Novo anúncio</a>
      </li>
      <li class="nav-item" *ngIf="this.authenticationService.isLoggedIn()">
        <a class="nav-link" href="/deposit">Depósito</a>
      </li>
      <li class="nav-item dropdown" *ngIf="!this.authenticationService.isLoggedIn()">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Conecte-se
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <app-connect-card></app-connect-card>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="this.authenticationService.isLoggedIn()">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ this.authenticationService.authenticatedUser.userInfo.name.firstName }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          Opções conta
          <button (click)="this.authenticationService.logout()">Logout</button>
        </div>
      </li>
    </ul>
  </div>
</nav>