<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="credentials.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Digite seu email">
  </div>
  <div class="form-group">
    <label for="password">Senha</label>
    <input [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="password" placeholder="Digite sua senha">
  </div>
  <div *ngIf="errors.length > 0" class="errors">
    Corrija os seguintes erros para continuar:
    <span class="error" *ngFor="let error of errors">{{ error }}</span>
  </div>
  <button (click)="login()" type="submit" class="btn btn-primary">Login</button>
  <button (click)="resetForm()" class="btn btn-warning">Limpar</button>
</form>